<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <henry_pdfupload>
      <version>1.0.0</version>
    </henry_pdfupload>
  </modules>
  <adminhtml>
    <cms>
      <browser>
        <extensions>
          <allowed>
            <jpg>1</jpg>
            <jpeg>1</jpeg>
            <png>1</png>
            <gif>1</gif>
            <pdf>1</pdf>
          </allowed>
          <image_allowed>
            <jpg>1</jpg>
            <jpeg>1</jpeg>
            <png>1</png>
            <gif>1</gif>
            <pdf>1</pdf>
          </image_allowed>
        </extensions>
      </browser>
    </cms>
  </adminhtml>
</config>